.search-btn {
    color: var(--red);
    border: 1px solid var(--red);

}


a {
    color: white;
}

.user-icon-link {
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: all 0.5s ease;
    margin-left: 2rem;
}

.user-icon-link:hover {
    scale: 1.1;
}

.btn-search {
    transition: all 0.5s ease;
    color: white;
    border: 1px solid white;
    font-family: var(--font-principal);

}

.btn-search:hover {

    border: thin solid var(--background);
    background-color: var(--red-hover);
}

.links-nav {
    transition: all 0.5s ease;
    color: white;
    font-family: var(--font-principal);
}

.links-nav:hover {
    color: white;
    scale: 1.2;
}

.active-links {

    color: white;
}

.nav {
    background-color: var(--red-middle);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20rem;
    position: fixed;
    top: 0;
    right: 0;

    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 8px;

}

form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav input {
    border-radius: 8px;
    padding: 0.3rem;
}