@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');





:root {
    --blue: #B8EAFA;
    --yellow: #FEFC7C;
    --red: #d70000;
    --green: #50BC41;
    --background: rgba(255, 44, 44, 0.8);
    --font-principal: 'Poppins', sans-serif;



    --red-strong: #920a0a;
    --red-hover: #ff9494;
    --red-middle: #ff5757;
}

html {
    font-family: var(--font-principal);
}

a {
    text-decoration: none;
}

.custom-class {
    background-color: red !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.user-hover {
    transition: all 0.5s ease;
}

.user-hover:hover {
    box-shadow: 8px 7px 7px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 7px 7px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 7px 7px 4px rgba(0, 0, 0, 0.75);
}

.add-user-container {
    background-color: #EDEFEC;
    margin-top: 5rem;

    width: 100%;
    height: 100vh;

}

.users-container {
    width: 100%;
    height: 100vh;


}

.form-add-user {
    width: 40%;
    text-align: center;
    border: thin solid black;
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 11px 9px 7px -6px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 11px 9px 7px -6px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 11px 9px 7px -6px rgba(0, 0, 0, 0.48);
}

.form-add-user h3 {
    font-family: var(--font-principal);
    margin-top: 2rem;
    margin-bottom: 2rem;
}




.user-list {

    width: 100%;
    /* 
    height: 80vh; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.users-content {
    width: 85%;
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 3rem;


}

/* .override {
    height: 80%;
    overflow-y: scroll;

}

 */

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
/* 
.override::-webkit-scrollbar {
    -webkit-appearance: none;
}

.override::-webkit-scrollbar:vertical {
    width: 10px;
}

.override::-webkit-scrollbar-button:increment,
.override::-webkit-scrollbar-button {
    display: none;
}

.override::-webkit-scrollbar:horizontal {
    height: 10px;
}

.override::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.override::-webkit-scrollbar-track {
    border-radius: 10px;
} */

.styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.logo {
    width: 8rem;
    height: auto;
    margin-right: 2rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 28px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font {
    font-family: var(--font-principal);
}

.title-middle {
    font-size: 1.2rem;
}

.user-details {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 2rem;
}

.user-details h4 {
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.user-details strong {
    margin-right: 0.4rem;

}

.user-details__text {
    margin-bottom: 1rem;
}

.zero-matches {
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-left: 20rem;
}